[Unit]
Description=Run user script on Genisys client first boot
ConditionFileIsExecutable=/first-boot/entrypoint
Wants=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/first-boot/entrypoint
WorkingDirectory=/first-boot

[Install]
WantedBy=multi-user.target

